/*Nav*/

.navigation{
    list-style-type: none;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    top: 0;
    left: 25%;
    position: fixed;
    width: 50%;
    background-color: #66bfbf;
}

.nav-element {
    display: inline-block;
    padding: 14px 16px;
}

a{
    color: white;
    text-decoration: none;
}

/*Prsentation*/

.Prsentation{
    margin-top: 200px;
    color: #66BFBF;
    text-align: center;
    font-size: large;
}

.Prsentation h1{
    font-family: cursive;
}


/*Competences*/

.Competences{
    margin-top: 100px;
    color: #66BFBF;
    text-align: center;

}

/*Contact*/

.Contact{
    color: #66BFBF;
    text-align: center;
}









/*Button*/

.BouttonCentre {
    text-align: center;
}

button{
    background-color:  #149a9f;
    padding: 0px 25px;
    margin: 100px 0px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    left: 25%;
    color: white;
    border-radius: 15px; 
}

button:hover {
    transition-duration: 0.4s;
    color: black;
}

/*Footer*/

footer {
    display: block;
    padding: 50px;
    background-color: #66BFBF;
    text-align: center;    
}

footer a{
    padding: 14px 16px;
    text-decoration: none;
    color: #149a9f;
    font-size: x-large;  
}

footer a:hover{
    transition-duration: 0.4s;
    color: black;
}

footer p{
    padding-top: 40px;
    font-size: small;
    color: white; 
}




