

nav {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e4F9F5;
}

nav a {
    
    background-color: #e4F9F5;
    color: #149a9f;
    text-decoration: none;
    padding: 14px 16px;
}


div{
    margin-top: 30px;
}

.BouttonCentre {
    left: 25%;
}

button{
    background-color:  #149a9f;
    
    margin: 100px 0px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;
    left: 25%;
    
}





footer {
    display: block;
    padding: 50px;
    background-color: #66BFBF;
    text-align: center;    
}

footer a{
    padding: 14px 16px;
    text-decoration: none;
    color: #149a9f;
    font-size: x-large;
    
}

footer p{
    font-size: small;
    color: white;   
}


